.authenticate-dialog {
	& .authenticate-dialog-paper {
		width      : 400px;
		height     : 100%;
		margin     : 0;
		background : transparent;
		box-shadow : none;

		& .auth {
			& h1 {
				color : white;
			}
		}
	}
}
