@import 'mixins';
@import 'fonts/roboto-font';
@import 'fonts/material-icon';

body {
	background   : black;
	color        : white;
	touch-action : manipulation;
	direction    : rtl;
	margin       : 0;

	& .main-section {
		margin-top : 70px;
		@include media-max-width() {
			margin-top : 0;
		}
	}

	#content-section {
		//display : none;
	}

	& hr.light-custom-hr {
		border-bottom : .5px solid rgba(#707070, .5);
		margin-right  : 24px;
		border-top    : 0;
		border-left   : 0;
		border-right  : 0;
		box-sizing    : border-box;
		width         : calc(100% - 24px);

		@include media-min-width(1440px) {
			width        : 100%;
			margin-right : 0;
		}
	}

	& hr.dark-custom-hr {
		border-bottom : .5px solid rgba(#707070, .5);
		margin-right  : 24px;
		border-top    : 0;
		border-left   : 0;
		border-right  : 0;
		width         : calc(100% - 24px);

		@include media-min-width(980px) {
			display : none;
		}
	}

	& a {
		text-decoration : none;
		color           : white;
	}

	& .MuiDrawer-modal {
		z-index : 9999999999 !important;
	}

	& * {
		-ms-overflow-style : none; /* Internet Explorer 10+ */
		scrollbar-width    : none; /* Firefox */

		&::-webkit-scrollbar {
			display : none; /* Safari and Chrome */
		}
	}

	& .text-truncate {
		overflow      : hidden;
		text-overflow : ellipsis;
		white-space   : nowrap;
	}

	h1, h2, h3, h4, h5, h6, p {
		margin : 0;
	}
}
