.must-authenticate {
	max-width  : 300px;
	margin     : 5rem auto 1rem;
	text-align : center;

	& b {
		display : block;
	}

	& button {
		margin-top    : 2rem;
		background    : #0068d0 !important;
		color         : white;
		min-width     : 100px;
		border-radius : 50px;
	}
}

.fav-list-container {
	margin    : 0 auto 70px;
	max-width : 1440px;

	& h2 {
		padding : 12px 24px;
	}
}
