@import '../../../assets/styles/mixins';

.banner-program {
	margin   : 40px 0;
	position : relative;
	padding  : 21% 0;
	@include media-max-width() {
		padding : 17% 0;
	}
	@include media-min-width(1440px) {
		max-width    : 1440px;
		margin-left  : auto;
		margin-right : auto;
		padding      : 0;
		height       : 600px;
	}

	&:before {
		content             : '';
		background-size     : cover;
		background-position : center;
		position            : absolute;
		top                 : 0;
		left                : 0;
		right               : 0;
		bottom              : 0;
		opacity             : 0.4;
		z-index             : -1;
		@include media-min-width(1440px) {
			border        : 1px solid #f5f5f5;
			border-radius : 5px;
		}
	}

	& .cover-image {
		width         : 155px;
		height        : 210px;
		border        : .5px solid rgba(#707070, .5);
		border-radius : 5px;
		overflow      : hidden;
		position      : absolute;
		top           : -21px;
		right         : 123px;
		@include media-max-width() {
			display : none;
		}
	}

	& .banner-info-mobile {
		@include media-min-width(980px) {
			display : none;
		}

		& .banner-info {
			display    : block;
			height     : 100%;
			z-index    : 1;
			color      : white;
			padding    : 0 24px;
			text-align : right;

			& .banner-title {
				font-size   : 30px;
				font-weight : bold;
			}

			& .actors-director {
				line-height : 20px;
			}
		}
	}

	& .more-info {
		position  : absolute;
		bottom    : 0;
		width     : 100%;
		direction : rtl;

		& > div {
			padding         : 6px 24px;
			justify-content : space-between;
			align-items     : center;
			display         : flex;
			@include media-max-width() {
				color : rgba(white, .5);
			}

			& > * {
				@include media-max-width(980px) {
					display     : inline-flex;
					align-items : center;
					margin-left : 8px;
					&:first-child {
						display : block;
					}
				}
			}

			& .rate {
				@include media-max-width() {
					& svg {
						font-size : 12px !important;
					}
				}

				& .material-icons {
					font-size : 18px;
					color     : rgb(219, 177, 0);
				}
			}

			& .restriction {
				width           : 20px;
				height          : 20px;
				background      : red;
				border-radius   : 50%;
				border          : 1px solid white;
				justify-content : center;
				font-size       : 13px;
			}

			& .genres {
				list-style : none;
				padding    : 0;
				margin     : 0;
				display    : flex;

				@include media-max-width() {
					display : none;
				}

				& li {
					&:after {
						content : '،';
						margin  : 0 4px;
					}

					&:last-child {
						&:after {
							display : none;
						}
					}
				}
			}
		}
	}

	& .banner-info-desktop {
		position : absolute;
		bottom   : 0;
		left     : 0;
		right    : 123px;

		@include media-max-width() {
			display : none;
		}

		& h2 {
			margin-bottom : 1rem;
		}

		& .banner-info {
			display       : flex;
			margin-bottom : 1rem;

			& .main-info {
				flex-grow : 0.9;
				margin    : 0;
				padding   : 0 2rem;

				& .more-info {
					position : relative;

					& > div {
						padding         : 6px 0;
						justify-content : start;

						& > * {
							margin-left : 1rem;
							color       : rgba(white, 0.6);
						}
					}
				}

				& p {
					margin : 1rem 0;
				}
			}

			& .crew-section {
				flex-grow : 0.1;
			}
		}
	}
}
